@import 'cards.css';

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barriecito&display=swap');

html, body {
    margin: 0px;
}

.container {
    margin: 0px;
    min-height: 100vh;
    display: grid;
    width: 100%;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto 1fr auto auto;
    grid-template-areas: 
        "hd hd hd hd"
        "nav nav nav nav"
        "feat feat feat feat"
        "ar ar ar ar"
        "ft ft ft ft"
    ;
}

.header {
    grid-area: hd;
    height: 100px;
    padding-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#fff;
}

.header #site-title {
    font-family: 'Barrio', cursive;
    font-size: 38px;
    letter-spacing: 3px;
    color: #000;
}

.nav {
    height: 50px;
    grid-area: nav;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    align-items: flex-end;
    background-color: #fff;
}

.nav .nav-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0px 15px;
}

.nav-active {
    background-image: url("../images/ufo.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.nav .nav-link {
    font-family: 'Syne Mono', monospace;
    font-size: 18px;
    padding-top: 15px;
    color: #000;
    text-decoration: none;
    
}

.feature {
    grid-area: feat;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 25px 5px;
}

.archive {
    grid-area: ar;
    display: flex;
    overflow: auto;
    flex-direction: column;
    flex-wrap: wrap;
    height: 250px;
    justify-content: flex-start;
    padding: 10px 0px;
    outline: 2px solid black;
}

.archive #scroll {
    position: absolute;
    font-size: 12px;
    right: 10px;
    margin: auto;
}

.footer {
    grid-area: ft;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 2px solid black;
}

