@import 'cards.css';
@import 'typography.css';



html, body {
    margin: 0px;
}



.container {
    margin: 0px;
    min-height: 100vh;
    display: grid;
    width: 100%;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto 1fr auto auto auto;
    grid-template-areas: 
        "hd hd hd hd"
        "nav nav nav nav"
        "feat feat feat feat"
        "ar ar ar ar"
        "sb sb sb sb"
        "ft ft ft ft"
    ;
}

.header {
    z-index: 2;
    grid-area: hd;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:#000;
}



.nav {
    z-index: 3;
    height: 50px;
    grid-area: nav;
    display: flex;
    justify-content: center;
    padding: 30px 20px 10px 20px;
    align-items: flex-end;
    background-image: url("../images/nav-tablet.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 3px solid black;
}

.nav .nav-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0px 15px;
}

.nav-active {
    background-image: url("../images/ufo.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.nav .nav-link {
    font-family: 'Syne Mono', monospace;
    font-size: 18px;
    padding-top: 15px;
    color: #000;
    text-decoration: none;
    
}

.feature {
    grid-area: feat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 5px 50px 5px;
    background-color: #f5f5f5;
}

.archive {
    grid-area: ar;
    display: flex;
    overflow: auto;
    flex-direction: column;
    flex-wrap: wrap;
    height: 250px;
    justify-content: flex-start;
    padding: 10px 0px;
    border-top: 6px solid black;
    background-image: url("../images/pattern.svg");
    background-size: cover;
    /* background-attachment: local; */
    
}

.archive .archive-title {
    position: absolute;
    font-family: 'Barrio', cursive;
    font-size: 32px;
    margin: -43px 20px;
    color:#000;
}

.archive .scroll {
    position: absolute;
    font-size: 16px;
    font-family: 'Barriecito', sans-serif;
    right: 10px;
    margin: -3px auto;
}

.subscribe {
    grid-area: sb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 125px;
    padding-top: 25px;
    background-color: #000;
    color: #fff;
}

.subscribe .sub-form {
    padding-top: 15px;
    font-family: 'Syne Mono', monospace;
    font-size: 16px;
}

.subscribe .sub-form #sub-email {
    appearance: none;
    color: #fff;
    background-color: #000;
    border: 2px solid #fff;
    padding: 5px 5px;
    font-family: 'Syne Mono', monospace;
    font-size: 16px;
}

.subscribe .sub-form #sub-email:-internal-autofill-selected {
    background-color: #000;
    color: #fff;
}

.subscribe .sub-form #sub-button {
    appearance: none;
    color: #fff;
    background-color: #000;
    border: 2px solid #fff;
    padding: 5px 5px;
    font-family: 'Syne Mono', monospace;
    font-size: 16px;
}

.footer {
    grid-area: ft;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white; 
}

.footer #github-link #github-icon {
    height: 30px;
}

@media(min-width: 768px) {
    .container {
        max-width: 1230px;
        margin: 0 auto;
    }

    .feature {
        flex-direction: row;
        flex-wrap: wrap;
    }
}