/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barriecito&display=swap');

h1 {
    font-family: 'Barrio', sans-serif;
    font-size: 48px;
    letter-spacing: 2px;
    color: #fff;
}

h2 {
    font-family: 'Barriecito', sans-serif;
}

h3 {
    font-family: 'Syne Mono', sans-serif;
    font-size: 24px;
    letter-spacing: 2px;
    margin: 0px 0px;
}

p {
    font-family: 'Barlow', sans-serif;
    margin: 0px 0px;
}